.Navigation {
     display: flex;
     justify-content: space-between;
     margin-top: 50px;
     
}

.logo-img {
     height: 15%;
     width: 15%;
     margin-left: 50px;
     
}

.free-button {
     margin-right: 50px;
     border: 1px solid hsl(322, 100%, 66%);
     color:hsl(322, 100%, 66%);
     border-radius: 100px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
     font-family: 'Open Sans', sans-serif;
     text-decoration: none;
     text-align: center;
     width: 100px;
}

.free-button:hover {
     opacity: 0.5;
}

h1 {
     text-align: center;
     font-family: 'Poppins', sans-serif;
     font-weight: 70000;
     color: hsl(192, 100%, 9%);
     
}

.h1-paragraph {
     text-align: center;
     line-height: 25px;
     margin-top: 30px;
     margin-bottom: 30px;
     font-family: 'Poppins', sans-serif;
     font-weight: 800;
     color: black;

     
}

.Started-button {
     border: 1px solid hsl(321, 100%, 78%);
     border-radius: 100px;
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;
     text-align: center;
     text-decoration: none;
     background-color: hsl(322, 100%, 66%);
     color: white;
     font-family: 'Open Sans', sans-serif;
     width: 300px;
     margin-left: auto;
     margin-right: auto;
     margin-bottom: 50px;


}

.Started-button:hover {
     opacity: 0.8;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.h1-paragraph, .Started-button {
     display: flex;
     flex-direction: column;
     
}

.body-img {
     display: block;
     margin-left: auto;
     margin-right: auto;
}

.stats {
     display: flex;
     justify-content: space-between;
     margin-top: 5em;
}
.left-hand {
     line-height: 20px;
     margin-left: 200px;
     
     font-family: 'Open Sans', sans-serif;
     color: hsl(192, 100%, 9%);

     
}

.community-img {
     margin-bottom: 15px;
}

.community-number {
     font-size: xxx-large;
     font-weight: 700;
}

.small-description-1 {
     font-size: large;
}

.right-hand {
     line-height: 20px;
     margin-right: 200px;
     font-family: 'Open Sans', sans-serif;
     color: hsl(192, 100%, 9%);

}

.message-img {
     margin-bottom: 15px;
}

.message-number {
     font-size: xxx-large;
     font-weight: 700;
}

.small-description-2 {
     font-size: large;
}

.background-1 {
     background-image: url('./Images/bg-section-top-desktop-1.svg');
     background-position: end;
    background-repeat: no-repeat;
    background-size: cover;
    border: none;  
    height: 160px;
    opacity: 1;
   

     
}

.section-1 {
     
     line-height: 50px;
     margin-left: 10em;
     position: relative;
     top: -50px;
     
    
     


}

.section-h1 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     font-size: xx-large;
     
     


}

.section-p1 {
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     line-height: 20px;
     
}

.section-1, .community-1 {
     display: inline-block;
     background-color: hsl(207, 100%, 98%);
     background-size: cover;
     

}

.community-1 {
     width: 300px;
     margin-left: 5em;
     position: relative;
     right: -200px;
}

.background-2 {
     background-image: url(./Images/bg-section-bottom-desktop-1.svg);
     background-repeat: no-repeat;
     background-size: cover;
     height: 160px;
}

.section-2 {
     background-image: url();
     line-height: 50px;
     margin-left: 10em;
     position: relative;
     top: -50px;
     


}

.section-h2 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     font-size: xx-large;
     


}

.section-p2 {
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     line-height: 20px;
     
}

.section-2, .community-2 {
     display: inline-block;
}

.community-2 {
     width: 300px;
     margin-left: 5em;
     position: relative;
     right: -200px;
}

.section-3 {
     background-image: url("");
     line-height: 50px;
     margin-left: 10em;
     position: relative;
     top: -50px;
     


}

.section-h3 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     font-size: xx-large;
     


}

.section-p3 {
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     line-height: 20px;
     
}

.section-3, .community-3 {
     display: inline-block;
}

.community-3 {
     width: 300px;
     margin-left: 5em;
     position: relative;
     right: -200px;
}

.bellow-header {
     text-align: center;
     font-family: 'Open Sans', sans-serif;
     font-size: x-large;
     font-weight: 800;
     margin-top: 50px;
     margin-bottom: 50px;
}

.free-start-button {
     border: 1px solid hsl(322, 100%, 66%);
     border-radius: 100px;
     color: white;
     font-family: 'Open Sans', sans-serif;
     
     padding-top: 20px;
     padding-bottom: 20px;
     padding-left: 30px;
     padding-right: 30px;
     background-color: hsl(322, 100%, 66%);
     margin-bottom: 100px;
     width: 300px;
     text-align: center;
     text-decoration: none;
     display: block;
     margin-left: auto;
     margin-right: auto;

}

.free-start-button:hover {
     opacity: 0.8;
     box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

footer {
     display: flex;
     justify-content: space-between;
     
     

}

.footer-bg {
     background-image: url('./Images/bg-footer-top-desktop.jpg');
     background-repeat: no-repeat;
     background-size: 100%;
     height: 160px;
     
     
     
     
}
     


.footer-leftside {
     margin-left: 80px;

}

.footer-head-1 {
     font-size: x-large;
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     margin-bottom: 0px;
     text-align: left;
     
     
}

.footer-paragraph-1 {
     font-family: 'Open Sans', sans-serif;
     line-height: 20px;
     font-size: small;
     margin-bottom: 30px;
}

.phone-contact {
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     margin-bottom: 30px;
}

.email-contact {
     font-family: 'Open Sans', sans-serif;
     font-size: small;

}

.footer-rightside {
     margin-right: 80px;

}

.footer-head-2 {
     font-family: 'Open Sans', sans-serif;
     font-weight: 700;
     font-size: x-large;
     text-align: left;

}

.footer-paragraph-2 {
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     line-height: 20px;
     margin-bottom: 30px;
}

.input-field {
     width: 200px;
     height: 30px;
     background-color: white;
     
     border-radius: 5px;
     border: 1px solid;
     
     


}

.input-field:hover {
     border-color: hsl(322, 100%, 66%);
     
}
.subscribe-button {
     border: 1px solid hsl(322, 100%, 66%);
     border-radius: 5px;
     padding-top: 10px;
     padding-bottom: 10px;
     padding-left: 20px;
     padding-right: 20px;
     width: 4400px;
     text-decoration: none;
     color: white;
     background-color: hsl(322, 100%, 66%);
     font-family: 'Open Sans', sans-serif;
     font-size: small;
     margin-left: 30px;


}

.subscribe-button:hover {
     opacity: 0.8;
}

.fa {
     display: flex;
     font-size: 50px;
     text-decoration: none;
     width: 30px;
     margin-top: 50px;
     margin-bottom: 50px;
     color: hsl(322, 100%, 66%);
     
}

